source https://api.nuget.org/v3/index.json
framework: net9.0
storage: none

nuget Fable.React
nuget Fable.Remoting.Client
nuget Fable.Remoting.Giraffe
nuget Feliz.DaisyUI
nuget Feliz.Router
nuget Feliz.UseElmish
nuget FSharp.SystemTextJson
nuget FsToolkit.ErrorHandling.TaskResult
nuget Giraffe.GoodRead
nuget Glutinum.Feliz.Iconify
nuget Glutinum.IconifyIcons.Fa6Solid
nuget Microsoft.Extensions.Http
nuget TUnit.Assertions.FSharp
nuget TUnit.FsCheck
nuget Unquote

group Build
    source https://api.nuget.org/v3/index.json
    framework: net9.0
    storage: none

    nuget Fake.Core.Target
    nuget Fake.DotNet.Cli