@charset "utf-8";
@import "tailwindcss";
@plugin "daisyui" {
    themes: all;
}
@tailwind utilities; /* Force inclusion of theme utilities */
@source "../.fable-build/**/*.{js,ts,jsx,tsx}";
@source "../src/**/*.fs";