# YAML from the SAFEr template.
# !! For Shopfoo, we use another workflow,
#    located at the root of the git repo: .github/workflows/main_shopfoo.yml

name: CI

on:
  workflow_dispatch:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v2

      - name: Setup .NET 9 SDK
        uses: actions/setup-dotnet@v1.7.2
        with:
          dotnet-version: 9.0.200

      - name: Install Tools
        run: dotnet tool restore

      - name: Build
        run: dotnet run Publish

      - name: Publish App
        uses: actions/upload-artifact@v4
        with:
          name: app
          path: publish/app